# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
.coverage
htmlcov/
coverage.xml

# pytest
.pytest_cache/
